.btn-close {
  margin-right: 10px;
}

.place-detail-content {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.place-routing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.rating {
  text-align: center;
  .button {
    background-color: transparent;
  }
  .rate-text {
    font-size: 120%;
  }
}
